<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'component-cart-items.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
{%- if settings.predictive_search_enabled -%}
<link
  rel="stylesheet"
  href="{{ 'component-price.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'component-loading-overlay.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
{%- endif -%} {%- if section.settings.menu_type_desktop == 'mega' -%}
<link
  rel="stylesheet"
  href="{{ 'component-mega-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<noscript>{{
  'component-mega-menu.css' | asset_url | stylesheet_tag
}}</noscript>
{%- endif -%} {%- if settings.cart_type == "drawer" -%}
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{
  'component-cart-notification.css' | asset_url | stylesheet_tag
}}</noscript>
<noscript>{{
  'component-cart-items.css' | asset_url | stylesheet_tag
}}</noscript>

<style>
  .header-child {
    flex: 1 1 0%;
  }

  .header--cart {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 50px;
  }

  .page-title {
    text-align: center;
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #ff2200;
  }

  .back-icon {
    margin-top: 12px;
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="header-wrapper">
  <header class="header page-width header--cart">
    <div class="header-child">
      <a href="javascript&colon; history.go(-1)"
        ><img src="{{ 'back-icon.png' | asset_url }}" class="back-icon"
      /></a>
    </div>
    <div class="page-title header-child">カート</div>
    <div class="header-child">&nbsp;</div>
  </header>
</div>
